 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

 /* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --Secondy-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;

}

body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);

}
h1{
    font-size: 3rem;

}
h2{
    font-size: 2rem;
    
}
h3{
    font-size: 1.5rem;
    
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--Secondy-text-color);
    line-height: 1.8rem;

}
a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}


/* utility classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
}
.hover-link{
    color: var(--primary-text-color);
}
.hover-link:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}

.primary-btn{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--Secondy-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-btn:hover{
    background-color: var(--accent-color-dark);
}

.Secondy-btn{
    border: 0.5px solid var(--Secondy-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
.Secondy-btn:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}


/* Top banner  */
.top-banner{
    background-image: url('asset 30.png');
    background-color: #4fb3d4;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;

}

/* nav bar */
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}
.company-logo img{
    width: 200px;
}
.nav-links{

    flex-basis: 720px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.nav-toggle{
    display: none;
}

/* Header section */
header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    gap: 50px;

}
.heafer-left {
    max-width: 40vw;
}
.heafer-left h1{
    margin-top: 20px;
}
.Get-Staeted-Btn{
    margin-top: 20px;
}
.header-right img{
    width: 600px;
}

 /* companies-section */
 .companies-header{
   text-align: center;
   margin-block: 30px;
   color: var(--primary-text-color);
   
 }
 .logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
 }
 .logo{
    height: 46px;
 }

 /* feature section */
 .features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url('asset 32.svg');
    background-repeat: no-repeat;
    background-position: center;
 }
 
.feature-heading{
    text-align: center;
    margin-bottom: 40px;
}
.feature-heading h2{
    margin-bottom: 20px;
}
.feature-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.feature-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
 /* big features */
.big-features-section{
    padding: 30px var(--padding-inline-section);
}
.big-features-container{
    gap: 30px;
}
.second-big-freature{
    flex-direction: row-reverse;
}
.feature-img img{
    width:100%;
}
.feature-disc{
    flex-direction: column;
    align-items: flex-end;
}

/* example section  */
.example-section{
    padding-block: 10px;
}
.example-heading {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.exmple-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}
.exmaple-card{
    width: 23%;
    position: relative;
    height: 300px;
    background-color: black;
    background:linear-gradient(rgb(0, 0 , 0 ,0.1), rgb(0, 0 , 0 ,0.8)) ,url('asset\ 35.jpeg');
    background-size: cover;
}
.exmaple-card:hover{
    box-shadow: 0 0 10px #888;
}
.exmaple-card:nth-child(2){
    background:linear-gradient(rgb(0, 0 , 0 ,0.1), rgb(0, 0 , 0 ,0.8)) ,url('asset\ 34.jpeg');
}
.exmaple-card:nth-child(3){
    background:linear-gradient(rgb(0, 0 , 0 ,0.1), rgb(0, 0 , 0 ,0.8)) ,url('asset\ 36.jpeg');
}
.exmaple-card:nth-child(4){
    background:linear-gradient(rgb(0, 0 , 0 ,0.1), rgb(0, 0 , 0 ,0.8)) ,url('asset\ 37.jpeg');
}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

/* cta-section  */
.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;

}

.cta-section{
    background-color: #183b54;
    padding: 120px var(--padding-inline-section);
}

.cta-section-container p{
    color: white;
    padding-top: 20px;

}

/* footer */
footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}
.link-column{
    flex-direction: column;
   align-items: flex-start;
    gap: 25px;

}
.footer-container{
    justify-content: space-between;
    align-items: flex-start;
}

/* subFooter */
.subFooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.subfooter-container{
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
}


























